body {
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
    width: 99%;
    font-family: Courier;
    font-size: 16px;
    text-align: center;
    }

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: auto !important;
}

th, td {
  text-align: center;
  padding: 8px;
  width: auto !important;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.changeprod {
    clear: both;
}
