<html>
<head>
<title>ContextCat</title>
<link rel="icon" type="image/png" href="/static/images/logo.png">
<link rel="stylesheet" type="text/css" href="/static/css/style.css/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
<img src="/static/images/logo.png" height="200px" class="rounded mx-auto d-block">
<div id="productpage">
<div class="container-fluid">
<div class="row">
<div class="col-auto"> 
<select id="product_select" class="btn btn-outline-info btn-sm"></select>
<br/>
<br/>
<button id="newprod" class="btn btn-info btn-sm" onclick="newprodfunc()">Add Product</button>
<button id="cancel" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewprod()">Close</button>
<br/>
<br/>
<form  action="" method="post" role="form" name="addpform" id="addpform" style="display:none">
    {{ addproform.csrf_token }}
    {{ addproform.biib_code_new(class_="form-control", placeholder="BIIB Code") }}    
    {{ addproform.partner(class_="form-control") }} 
    {{ addproform.modality(class_="form-control") }} 
</form>
<button id="addproduct" value="addproduct" class="btn btn-success btn-sm" style="display: none" onclick="addproduct()">Submit</button>   
<br/><br/>
<button id="newalias" class="btn btn-info btn-sm" onclick="newalias()">Add Alias</button>
<button id="cancelalias" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewalias()">Close</button>
<br/>
<br/>
<form  action="" method="post" role="form" name="addaform" id="addaform" style="display:none">
    {{ aliasform.csrf_token }}
    {{ aliasform.biib_code_alias(class_="form-control", placeholder="BIIB Code") }}    
    {{ aliasform.alias(class_="form-control", placeholder="Alias") }} 
    {{ aliasform.alias_type(class_="form-control") }} 
</form>
<button id="addalias" value="addalias" class="btn btn-success btn-sm" style="display: none" onclick="addalias()">Submit</button>   
</div>
<div class="col-auto"> 
<p id="thinking" style="display:none">thinking..</p>
<div id="product_table"></div>
<br/>
<br/>
<div id="alias_table"></div>
<br/>
</div>
<div class="col-auto"> 
<select id="process_select" class="btn btn-outline-info btn-sm" style="display:none"></select>
<br/>
<br/>
<button id="newprocess" class="btn btn-info btn-sm" onclick="newprocess()" style="display:none">Add Process</button>
<button id="cancelprocess" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewprocess()">Close</button>
<br/>
<br/>
<form  action="" method="post" role="form" name="processform" id="processform" style="display:none">
    {{ addprocform.csrf_token }}
    {{ addprocform.mfg_mode(class_="form-control") }} 
    {{ addprocform.process_identifier(class_="form-control", placeholder="Process Identifier") }}
    {{ addprocform.process_description(class_="form-control", placeholder="Process Description") }}
    {{ addprocform.process_status(class_="form-control") }} 
</form> 
<button id="addprocess" value="addprocess" class="btn btn-success btn-sm" style="display: none" onclick="addprocess()">Submit</button>    
</div>
<div class="col-auto">
<p id="thinkingp" style="display:none">thinking..</p>
<div id="process_table"></div>
<br/><br/>
<button id="gotoops" style="display:none" class="btn btn-info btn-sm" onclick="gotoops()">Go to Operations</button>
<br/>
</div>
</div>   
</div>
</div>
<div id="opspage" style="display:none">
<div class="container-fluid">
<div class="row">
<div class="col-auto">
<b>Current Process is:</b><br/>
<div id="currentprocess"></div>
<br/><br/>
<button id="backtoprod" style="display:none" class="btn btn-info btn-sm" onclick="backtoprod()">Back to Product</button>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<button id="gotoparams" class="btn btn-outline-info btn-sm" onclick="gotoparams()">Go to Parameters</button> 
<br/>
<br/>
<button id="gotoprimr" class="btn btn-outline-info btn-sm" onclick="gotoprimr()">Go to PRIMR Mapping</button> 
<br/>
<br/>
<button id="gotodeltav" class="btn btn-outline-info btn-sm" onclick="gotodeltav()">Go to DeltaV Mapping</button> 
<br/><br/>
<button id="gotoles" class="btn btn-outline-info btn-sm" onclick="gotoles()">Go to LES Mapping</button> 
<br/><br/>
<button id="gotodvpi" class="btn btn-outline-info btn-sm" onclick="gotodvpi()">Go to DVPI Mapping</button>
<br/><br/>
</div>   
<div class="col-auto">
<select id="operation_select" class="btn btn-outline-info btn-sm"></select><br/>
<br/>
<br/>
<button id="newoperation" class="btn btn-info btn-sm" onclick="newoperation()">Add Operation</button>
<button id="cancelop" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewoperation()">Close</button>
<br/>
<br/>
<form name="newopform" id="newopform" style="display: none" >
    {{ newopform.csrf_token }}
    {{ newopform.operation_order(class_="form-control", placeholder="Operation Order") }} 
    {{ newopform.operation_name(class_="form-control", placeholder="Operation Name") }} 
    {{ newopform.operation_type(class_="form-control", placeholder="Operation Type") }} 
    {{ newopform.chrom_type(class_="form-control") }} 
    {{ newopform.adjustment_type(class_="form-control") }} 
    {{ newopform.adjustment_alias(class_="form-control", placeholder="Adjustment Alias")}} 
    {{ newopform.cycle_pool(class_="form-control") }} 
    {{ newopform.bpr_order(class_="form-control", placeholder="BPR Order") }} 
</form>      
<button id="addoperation" value="addoperation" class="btn btn-success btn-sm" style="display: none" onclick="addoperation()">Submit</button>   
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<button id="gotoeditops" class="btn btn-outline-info btn-sm" onclick="gotoeditops()">Edit Operations</button> 
</div>
<div class="col-auto">
<select id="sample_select" class="btn btn-outline-info btn-sm"></select>
<br/> 
<br/> 
<br/>
<button id="newsample" class="btn btn-info btn-sm" onclick="newsample()" style="display:none">Add Sample</button>
<button id="cancelsamp" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewsample()">Close</button>
<br/>
<br/>
<form name="newsampform" id="newsampform" style="display: none" >
    {{ newsampform.csrf_token }}
    {{ newsampform.sample_order(class_="form-control", placeholder="Sample Order")}} 
    {{ newsampform.sample_name(class_="form-control", placeholder="Sample Name") }} 
</form>      
<button id="addsample" value="addsample" class="btn btn-success btn-sm" style="display: none" onclick="addsample()">Submit</button>   
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<button id="gotoeditsamps" class="btn btn-outline-info btn-sm" onclick="gotoeditsamps()" style="display:none">Edit Samples</button> 
</div>
<div class="col-auto">
<select multiple size="25" id="measure_select" class="btn btn-outline-info btn-sm" style="display: none" ></select>
<br/>
<br/>
<button id="secretmeasure" onclick="secretmeasure()" style="background: transparent; border: none; color:white">Measures</button>
<br/>
<button id="editallmeasure" onclick="gotoeditmeas()" class="btn btn-outline-info btn-sm" style="display: none">Edit Measures</button>
<button id="newmeasure" onclick="newmeasure()" class="btn btn-info btn-sm" style="display: none">Add New Measures</button>
<button id="hideallmeasure" onclick="hideallmeasures()" class="btn btn-outline-info btn-sm" style="display: none">Hide</button>
<br/>
<br/>
<form name="newmeasform" id="newmeasform" style="display: none" >
    {{ newmeasform.csrf_token }}
    {{ newmeasform.measure_name(class_="form-control", placeholder="Measure Name")}} 
    {{ newmeasform.units_of_measure(class_="form-control", placeholder="Units of Measure") }} 
    {{ newmeasform.data_type(class_="form-control")}} 
</form>      
<button id="addnewmeas" value="addnewmeas" class="btn btn-success btn-sm" style="display: none" onclick="addnewmeasure()">Submit</button>   
<button id="cancelmeas" style="display:none" class="btn btn-warning btn-sm" onclick="cancelnewmeas()">Cancel</button>
</div>    
<div class="col-auto">
<br/><br/><br/>
<button id="addmeasures" value="addmeasures" class="btn btn-info btn-sm" onclick="addmeasures()" style="display: none">Add Parameters</button>  
</div>
<div class="col-auto">
<div id="currmeas" style="display:none"><b>Existing Parameters</b></div>
<div id="measure_table" style="display: none"></div>
</div>
</div>
</div>    
</div>
<div id="primrpage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-12" style="text-align:center">
<b>PRIMR Field Name Mapping</b>
<div id="primr_table"></div>                    
<br/>
<div id="newprimrtext" style="display:none"><br/><br/>Adding Parameter for PRIMR Mapping.. </div>
<button id="backtoops" class="btn btn-info btn-sm" onclick="primrbacktoops()">Back to Operations</button>
</div>   
</div>   
</div>   
</div>
<div id="paramspage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-12" style="text-align:center">
<h6>Parameter Limits Table</h6>
<div id="parameters_table"></div>                    
<br/>
<button id="backtoopspa" class="btn btn-info btn-sm" onclick="parambacktoops()">Back to Operations</button>
</div>   
</div>   
</div>   
</div>
<div id="deltavpage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-12" style="text-align:center">
<b>DeltaV Mapping</b>
<div id="deltav_table"></div>                    
<br/>
<div id="newdeltavtext" style="display:none"><br/><br/>Adding Parameter for DeltaV Mapping.. </div>
<button id="backtoops" class="btn btn-info btn-sm" onclick="deltavbacktoops()">Back to Operations</button>
</div>   
</div> 
</div>   
</div>

<div id="editopspage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-2">
</div>
<div class="col-8" style="text-align:center">
<b>Edit Operations</b>
<div id="editops_table"></div>                    

<br/>
<button id="editopsrow" class="btn btn-info btn-sm" onclick="editopsrow()">Reorder Operations</button>
<button id="backtoops" class="btn btn-info btn-sm" onclick="editopsbacktoops()">Back to Operations</button>
</div>   
</div>   
</div>
</div>




<div id="editsampspage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-3"></div>
<div class="col-6" style="text-align:center">
<b>Edit Samples</b>

<div id="editsamps_table"></div>                    
<br/>
<button id="editsampsrow" class="btn btn-info btn-sm" onclick="editsampsrow()">Reorder Samples</button>
<button id="sampsbacktoops" class="btn btn-info btn-sm" onclick="editsampsbacktoops()">Back to Operations</button>
</div>   
<div class="col-3"></div>
</div>   
</div>   
</div>
<div id="editmeaspage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-3"></div>
<div class="col-6" style="text-align:center">
<b>Edit Measures</b>
<div id="allmeas_table"></div>                    
<br/>
<button id="measbacktoops" class="btn btn-info btn-sm" onclick="editmeasbacktoops()">Back to Operations</button>
</div>   
<div class="col-3"></div>
</div>   
</div>   
</div>
<div id="lespage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-12" style="text-align:center">
<b>LES Mapping</b>
<div id="les_table"></div>                    
<br/>
<div id="newlestext" style="display:none"><br/><br/>Adding Parameter for les Mapping.. </div>
<button id="lesbacktoops" class="btn btn-info btn-sm" onclick="lesbacktoops()">Back to Operations</button>
</div>   
</div>   
</div>   
</div>

<div id="dvpipage" style="display:none">
<div class="container-fluid">
<div class="row">   
<div class="col-12" style="text-align:center">
<b>DVPI Mapping</b>
<div id="dvpi_table"></div>                    
<br/>
<div id="newdvpitext" style="display:none"><br/><br/>Adding Parameter for DVPI Mapping.. </div>
<button id="backtoops" class="btn btn-info btn-sm" onclick="dvpibacktoops()">Back to Operations</button>
</div>   
</div>    
</div>   
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/ext/jquery-1.7.2.min.js"><\/script>')</script>
<!-- Grab Google CDN's jQuery UI, with a protocol relative URL; fall back to local if offline -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="js/ext/jquery-ui.min.js"><\/script>')</script>
<link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>